.body{
margin-left:5%; margin-right: 5%; background-color:#1f252d;
}
#header{height:125px;margin-left: 5%; margin-right: 5%; background-color: black;
align-content: center; padding-bottom: 15px;border-style:solid; border-width: 3px; border-color: grey;
}
#box{
	padding-bottom: 15px; 
}
#collectorLogo{
  width: 90%; margin-left: 5%; margin-right:5%; background-color: black;border-style:solid; border-width: 3px; border-color: grey;
}
#instructions{margin-left: 5%; padding-bottom:20px; margin-right: 5%; background-color: black; color: white; height: 50px; padding-top: 7px;}

#twinTables{
	width:90%; padding-bottom: 20px; margin-left: 5%; margin-right: 5%; background-color: black; color: white; border-style:solid; border-color: grey; border-width: 3px;
}
#gameGems{
	width: 90%; margin-left: 5%; margin-right: 5%;
}
#random1{padding-bottom: 15px;}
#random2{padding-bottom: 15px;}
#random3{padding-bottom: 15px;}
#random4{padding-bottom: 15px;}

#bloodDiamond1 {
	width: 100px  !important;
	height: 100px !important;
	border-radius: 40px;
	border-color:blue;
	border-style:solid;
border-width:3px;
}
#bloodDiamond2 {
	width: 100px  !important;
	height: 100px !important;
	border-radius: 40px;
	border-color:green;
	border-style:solid;
border-width:3px;
}

#bloodDiamond3 {
	width: 100px  !important;
	height: 100px !important;
	border-radius: 40px;
	border-color:#FF69B4;
	border-style:solid;
border-width:3px;
}
#bloodDiamond4 {
	width: 100px  !important;
	height: 100px !important;
	border-radius: 40px;
	border-color:yellow;
	border-style:solid;
border-width:3px;

}


element.style {
	width: 100px  !important;
	height: 100px !important;
	padding-top: 15px;
	padding-bottom: 15px;
}